/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

#tilesContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  width: fit-content;
  margin-top: 2rem;
}

img {
  width: 4rem;
}

#chartTypes, #encodings, #data, #transformations {
  padding-left: 4rem;
  padding-right: 4rem;
  width: 8rem;
  text-align: center;
}

#chartTypes {
  margin-right: 4rem;
}

#visContainer, #questionContainer {
  margin: auto;
  width: fit-content;
  margin-top: 4rem;
}

.inputSpace {
  width: 62px;
  height: 62px;
  border-width: 1px;
  border-style: dashed;
}

#mappingContainer {
  display: flex;
  flex-direction: row;
}

#data {
  width: fit-content;
}

.staticColumn {
  margin-right: 0.2rem;
  margin-left: 0.2rem;
}

#mappingZone {
  display: flex;
  flex-direction: row;
  background-color: WhiteSmoke;
}